/* Global */
html, body {
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}

.info {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;
    margin: 25px;
    border-radius: 4px;
    max-width: 30%;
    z-index: 50;
}

a {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

a:hover, a:focus {
    color: #666;
    border-color: #666;
}

/* Animations */
@keyframes horizontal-scroll {
    from {
        transform: translateX(calc(-70% + 100vw));
    }
    to {
        transform: translateX(calc(30% - 100vw));
    }
}

@keyframes horizontal-scroll-reverse {
    from {
        transform: translateX(calc(40% - 100vw));
    }
    to {
        transform: translateX(calc(-70% + 100vw));
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shrink-on-scroll {
    from {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    to {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Multi Directional Scrolling Demo */
.multi-directional {
    .hero {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        background-color: #222;
    }

    @supports (animation-timeline: scroll()) {
        .row-reverse {
            flex-direction: row-reverse;
        }
        .rows {
            overflow-x: clip;
        }
    }

    .rows {
        position: relative;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
    }

    .row {
        display: flex;
        animation: horizontal-scroll-reverse linear forwards;
        animation-timeline: scroll(root block);
    }

    .row-reverse {
        animation: horizontal-scroll linear forwards;
        animation-timeline: scroll(root block);
    }

    .item {
        margin: 20px;
    }
}

/* Transition On Scroll Demo */
.transition-on-scroll {
    .hero {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        background-color: #222;
    }

    .quote {
        font-size: 48px;
        text-align: center;
        padding: 32px 16px;
        
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .block {
        color: #fff;
        opacity: 0;
    }

    @supports (animation-timeline: view()) {
        .block {
            animation: reveal linear both;
            animation-timeline: view();
            animation-range: 5vh 30vh;
        }
    }
    
    .text {
        max-width: 50%;
        margin-left: auto;
        padding: 16px 16px;
        line-height: 24px;
    }
}

/* Nav Height Transition Demo */
.nav-height {
    .info {
        top: 300px;
    }

    .hero {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        background-color: #222;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #000;
    }

    .nav ul {
        max-width: 1200px;
        padding: 60px 0;
        list-style: none;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    .content p {
        max-width: 50%;
        margin: 60px auto;
    }

    @supports (animation-timeline: scroll()) {
        .nav ul {
            animation: shrink-on-scroll linear forwards;
            animation-timeline: scroll();
            animation-range: 40vh 50vh;
        }
    }
    
}